<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home_content</title>
</head>
<body>
  <wrapper th:fragment="layout_home_content(eventsSuggested)">
    <div class="event">
      <div class="customer_event">
          <ul>
              <li th:each="event: ${eventsSuggested}">
                  <span>[[${event.initiatorId}]]</span>
                  <span>[[${event.activity}]]</span>
                  <span>[[${event.address}]]</span>
                  <span>[[${event.dateTime}]]</span>
                  <span>[[${event.city}]]</span>
                  <span>[[${event.needed}]]</span>
                  <span>[[${event.willCome}]]</span>
              </li>
          </ul>
      </div>
      <div class="customer_event"></div>
    </div>
    <div class="event">
    </div>
  </wrapper>
</body>
</html>