<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="layout_header">
    <div class="div_emblem" id="div_emblem">
    </div>
    <select class="select_city">
    </select>
    <button class="button button--0">new event</button>
    <button class="button button--1">chat</button>
    <button class="button button--2">admin page</button>
    <button th:if="${!session.isAuthenticated}" class="button" onclick="window.location.href = '/login'">
        sign in
    </button>

    <a th:if="${session.isAuthenticated}" class="a_header_links" th:href="@{'/profile/' + ${session.name}}"
            th:text="${session.name}"></a>
</header>

</body>
</html>

<!--    <button th:if="${session.isAuthenticated}" class="button" onclick="window.location.href = '/profile'"-->
<!--            th:text="${session.name}"></button>-->
<!--th:if="${session.isAuthenticated}"-->