<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="reg_log_modal_overlay" class="modal-overlay">
        <div class="modals">
            <div class="modal_log_reg">
                <form class="form_login" method="post" th:action="@{/register}">
                    <input type="text" class="input_reg_log_data"
                           placeholder="login" name="username">
                    <input type="password" class="input_reg_log_data"
                           placeholder="password" name="password">
                    <input type="password" class="input_reg_log_data"
                           placeholder="repeat password">
                    <button class="input_reg_log_submit">Register</button>
                </form>
                <form class="form_login" method="post" th:action="@{/login}">
                    <input type="text" class="input_reg_log_data"
                           placeholder="login" name="username">
                    <input type="password" class="input_reg_log_data"
                           placeholder="password" name="password">
                    <button class="input_reg_log_submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>