@import "../variables/colors.scss";
@import "../variables/components.scss";
@import "../variables/fonts.scss";

$body_minwidth: $container_width;
$body_height: 800px;

wrapper {
    @extend %wrapper_tpl;
    margin: 0.06 * $body_minwidth auto 10px;
    background: url("../../images/Friends2Test.jpg") center top/cover no-repeat;
    height: $body_height;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%, 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    h1, h2 {
        color: $green;
    }
    a {
        @extend %header_button_tpl;
        color: $white;
        background-color: $green;
        text-decoration: none;    
        margin-right: 0;
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding-left: 5px;
        padding-right: 5px;
    }
}
