wrapper {
  width: 1100px;
  background-color: #e5efd5;
  width: 80%;
  height: 700px;
  min-width: 880px;
  margin: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

wrapper .event .customer_event button {
  width: 138px;
  height: 35px;
  border-style: none;
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../../fonts/Lato-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../../fonts/Lato-Bold.ttf) format("ttf");
}
wrapper {
  margin: 66px auto 10px;
  background: url("../../images/Friends2Test.jpg") center top/cover no-repeat;
  height: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: 100%, 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
}
wrapper .event {
  width: 90%;
  margin: 0 auto 20px;
  height: 560px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
wrapper .event .customer_event {
  border-radius: 10px;
  width: 48%;
  height: 100%;
  background-color: #bec3c7;
  opacity: 70%;
  overflow: hidden;
}
wrapper .event .customer_event p {
  font-family: "Lato-Bold", Arial, sans-serif;
  color: #239881;
  margin-left: 25%;
  font-size: x-large;
  font-weight: 700;
}
wrapper .event .customer_event ul {
  margin-right: 20px;
}
wrapper .event .customer_event button {
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Lato-Bold", Arial, sans-serif;
  color: #e5eee3;
  background-color: #1bbc9b;
  border-radius: 5px;
}