@import "../variables/colors.scss";
@import "../variables/components.scss";
@import "../variables/fonts.scss";

$body_minwidth: $container_width;
$body_height: 800px;

wrapper {
    @extend %wrapper_tpl;
    margin: 0.06 * $body_minwidth auto 10px;
    background: url("../../images/Friends2Test.jpg") center top/cover no-repeat;
    height: $body_height;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%, 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    .event {
        width: 90%;
        margin: 0 auto 20px;
        height: 0.7 * $body_height;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .event .customer_event {
        border-radius: 10px;
        width: 48%;
        height: 100%;
        background-color: $grey;
        opacity: 70%;
        overflow: hidden;
        p {
            font-family: "Lato-Bold", Arial, sans-serif;
            color: #239881;
            margin-left: 25%;
            font-size: x-large;
            font-weight: 700;
        }
    }
}