@import "../variables/colors.scss";
@import "../variables/components.scss";
@import "../variables/fonts.scss";

$body_minwidth: $container_width;
$body_height: 800px;

%form_buttons_tpl {
    border-radius: 10px;
    background-color: $green;
    font-family: "Lato-Bold", Arial, sans-serif;
    font-size: larger;
    color: $white;
}
%input_as_label_tpl {
    width: fit-content;
    background-color: inherit;
    font-weight: 500;
    border-style: none;
    font-family: "Lato-Bold", Arial, sans-serif;
}

wrapper {
    @extend %wrapper_tpl;
    margin: 0.06 * $body_minwidth auto 10px;
    background: url("../../images/Friends2Test.jpg") center top/cover no-repeat;
    height: $body_height;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100%, 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    .form {
        @extend %form_profile_tpl;
        min-width: fit-content;
        min-height: fit-content;
        // z-index: 100;
        margin: 10% auto;
        padding: 25px 20px 20px;
        height: fit-content;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: $grey;
        opacity: 80%;
        .div_profile_fields_inputs {
            display: flex;
            justify-content: center;
            .div_image {
                margin-right: 30px;
                img {
                    display: flex;
                    width: 150px;
                    height: 150px;
                }
            }
            .div_username_logout {
                input {
                    @extend %input_as_label_tpl;
                    margin: 5px;
                }
            }
            .div_tags_list {
                font-family: inherit;
                width: 170px;
                input {
                    @extend %input_as_label_tpl;
                }
            }
        }
        .div_profile_fields_inputs_table {
            display: flex;
            justify-content: center;
            >table {
                input, select {
                    font-family: "Lato-Bold", Arial, sans-serif;
                    @extend %input_tpl;
                    border-radius: 5px;
                }
            }
        }
        .div_buttons {
            display: flex;
            margin-top: 18px;
            justify-content: space-around;
            button {
                @extend %button_tpl, %form_buttons_tpl;
            }    
            a {
                @extend %button_tpl, %form_buttons_tpl;
                text-decoration: none;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.img_tags {
    margin: 5px;
    border-radius: 5px;
}