<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/templates/header.css">
    <link rel="stylesheet" href="/styles/templates/error.css">
</head>
<body>
<!--Хедер-->
<th:block th:insert="~{layouts/UX/header/header.html ::
                        layout_header(${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${userName}, ${activePage})}">
</th:block>

<!--Контент-->
<th:block th:insert="~{layouts/error/error.html :: error_layout(${error})}"></th:block>

</body>
</html>