<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
</head>
<body>
    <wrapper th:fragment="layout_profile_update_form(profile, cities, tags)">
        <form onclick="formClickListener()"
              method="post" th:action="@{/profile/update}" th:object="${profile}">
            <div>
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>Name</td>
                            <td><input id="input_name" type="text" th:field="*{name}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><input id="input_phone" type="text" th:field="*{phone}" disabled/></td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td><input id="input_age" type="number" th:field="*{age}" disabled/></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>
                                <input th:if="${profile.city != null}" id="input_city" type="text" th:value="${profile.city.name}" disabled>
                                <input th:if="${profile.city == null}" id="input_city" type="text" value="" disabled>
                                <select id="select_city" th:field="*{city}" hidden>
                                    <th:block th:each="location: ${cities}">
                                        <option th:value="${location.id}">[[${location.name}]]</option>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Initiated</td>
                            <td><input type="text" th:field="*{events_organized}" disabled></td>
                        </tr>
                        <tr id="tags_row" hidden>
                            <td>tags</td>
                            <td>
                                <select id="profile_activities" disabled>
                                    <option th:each="activity: ${tags}">[[${activity.name}]]</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="div_column">
                    <img src="">
                    <div>
                        <span th:text="${profile.customer.login}"></span>
                        <a href="/logout">logout</a>
                    </div>
                    <div id="div_tags_list" style="margin-left: 7px">
                        <th:block th:each="tag: ${profile.activityTags}">
                            <input th:value="${tag.name}" readonly>
                        </th:block>
                    </div>
                </div>
            </div>
            <input id="profileId" th:field="*{id}" hidden>
            <input th:field="*{customer.id}" hidden>
            <div>
                <button id="button_submit">Save</button>
                <button id="button_cancel" onclick="window.location.href = '/'" hidden>Cancel</button>
            </div>
        </form>
    </wrapper>
</body>
</html>