<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View profile</title>
</head>
<body>
<div th:fragment="layout_profile_view_form(profile)" class="container">
  <div class="modal_profile" th:object="${profile}">
      <div class="form_user_data">
          <div class="div_column_user_data">
              <label class="label_user_data">
                  Name
                  <input type="text" class="input_user_data" th:field="*{name}" disabled/>
              </label>
              <label class="label_user_data">
                  Phone
                  <input type="text" class="input_user_data" th:field="*{phone}" disabled/>
              </label>
              <label class="label_user_data">
                  Age
                  <input type="number" class="input_user_data" th:field="*{age}" disabled/>
              </label>
              <label class="label_user_data">
                  City
                  <input class="input_user_data" th:field="*{city.name}" disabled>
              </label>
          </div>

          <div class="div_column">
              <img src="" class="user_picture">
              <div>
                  <span class="span_user_data" th:text="${profile.customer.login}"></span>
                  <br/>
                  <label>
                      Initiated
                      <input type="text" class="input_user_data" th:field="*{events_organized}" disabled/>
                  </label>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>