<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>City</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="layouts/admin/admin-header.html :: header"></header>
<h1>City Add Form</h1>
<form method="post" th:action="@{/admin_home/updateCity}" th:object="${city}">
  <input th:field=" *{id}" hidden/>
  <label for="city-add" class="form-label">City: </label>
  <input th:type="text" th:field="*{name}" id="city-add" class="form-control" aria-describedby="passwordHelpBlock"
         required minlength="1" maxlength="255">

  <label for="city-country" >Country: </label>
  <select id="city-country" th:field="*{country}">
    <th:block th:each="country: ${countries}">
      <option th:value="${country.id}">[[${country.name}]]</option>
    </th:block>
  </select>
  <button class="btn btn-success">Add</button>
  <a th:href="@{/admin_home/base}" class="btn btn-danger">Cancel</a>
</form>
<footer th:insert="layouts/admin/admin-header.html :: footer"></footer>
</body>
</html>