<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header id="header" th:fragment="layout-header">
    <div class="div_emblem" id="div_emblem">
    </div>
    <select class="select_city">
    </select>
    <button class="button button--0" id="button_new_event">new event</button>
    <button class="button button--1" id="button_chat">chat</button>
    <button class="button button--2" id="button_admin">admin page</button>
    <button class="button button--3" id="button_log_reg">sign in</button>
</header>
</body>
</html>