@import "../null.scss";

$container_width: 70%;

%tpl_container {
    width: $container_width;
    min-width: 550px;
    height: 700px;
    margin: 85px auto 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("../../images/Friends2Test.jpg") center top/cover no-repeat;
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}