<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home_page</title>
    <link rel="stylesheet" href="/styles/header/layout_header.css">
    <link media="all" rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <th:block th:insert="~{layouts/UX/header/layout_header.html ::
                            layout_header(${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${userName})}"></th:block>

    <th:block th:insert="~{layouts/UX/home/homeContent.html :: layout_home_content}"></th:block>

    <a th:href="@{/service/generateBase}">Сгенерировать базу</a>
</body>
</html>