<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <link rel="stylesheet" href="/styles/new_event/new_event.css">
    <link rel="stylesheet" href="/styles/header/layout_header.css">
</head>
<body>
    <th:block th:insert="~{layouts/UX/header/layout_header.html ::
                            layout_header(${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${userName})}">
    </th:block>
    <th:block th:insert="~{layouts/UX/new_event/new_event.html ::
                            layout_new_event_form(${new_event}, ${activities}, ${cities})}">
    </th:block>
</body>
</html>