<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
<!--    <link rel="stylesheet" href="/styles/profile.css">-->
    <link rel="stylesheet" href="/styles/profile/profile_form_div.css">
    <link rel="stylesheet" href="/styles/header/layout_header.css">
</head>
<body>
<!--    Хедер   -->
    <th:block th:insert="~{layouts/UX/header/layout_header.html ::
                            layout_header(${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${userName})}">
    </th:block>

<!--    Форма просмотра профиля другого пользователя    -->
    <th:block th:if="${!isOwner}" th:insert="~{layouts/UX/profile/profile_view.html ::
                                            layout_profile_view_div(${profile})}"></th:block>

<!--    Форма просмотра/редактирования своего профиля  -->
    <th:block th:if="${isOwner}" th:insert="~{layouts/UX/profile/profile_update.html ::
                                            layout_profile_update_form(${profile}, ${cities}, ${tags})}"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script th:src="@{/scripts/profile/profile_activity_addition.js}"></script>
<th:block th:if="${isOwner}">
    <script th:src="@{/scripts/profile/profile_update_activation.js}"></script>
</th:block>
</body>
</html>