<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${profile.name}]]</title>
    <link rel="stylesheet" href="/styles/templates/header.css">
    <link rel="stylesheet" href="/styles/templates/profile_content.css">
</head>
<body>
<!--Хедер-->
  <th:block th:insert="~{layouts/UX/header/header.html ::
                            layout_header(${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${userName})}">
  </th:block>
<!--Просмотр  чужого профиля-->
  <th:block th:if="${!isOwner}"
            th:insert="~{layouts/UX/profile/profile_view_content.html ::
                            layout_profile_view_div(${profile}, ${organized})}">
  </th:block>
<!--Просмотр своего профиля-->
  <th:block th:if="${isOwner}"
            th:insert="~{layouts/UX/profile/profile_update_content.html ::
                            layout_profile_update_form(${profile}, ${cities}, ${tags}, ${organized})}">
  </th:block>

<!--Реактив нужен только для просмотра и редактирования своего профиля-->
  <th:block th:if="${isOwner}">
      <script th:src="@{/scripts/jquery_1_7.js}"></script>
      <script th:src="@{/scripts/profile/profile_update_activation.js}"></script>
      <script th:src="@{/scripts/profile/profile_delete_activity.js}"></script>
      <script th:src="@{/scripts/profile/profile_add_activity.js}"></script>
  </th:block>
</body>
</html>