<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link media="all" rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/header/layout_header.css">
    <link rel="stylesheet" href="/styles/log_reg_forms.css">
</head>
<body>
<th:block th:insert="~{layouts/UX/header/layout_header.html :: layout_header
                                            (${isAuthenticated}, ${isAdmin}, ${cities}, ${city}, ${name})}"></th:block>
<div class="container">
    <div class="modal_log_reg">
        <form class="form_login" th:method="post" th:action="@{/customer/register}">
            <input type="text" class="input_reg_log_data" placeholder="login" name="username">
            <th:block th:if="${error != null && error == 'login'}">
                <span>Login уже используется</span>
            </th:block>
            <input type="password" class="input_reg_log_data" placeholder="password" name="password">
            <th:block th:if="${error != null && error == 'password'}">
                <span>Пароли не совпадают</span>
            </th:block>
            <input type="password" class="input_reg_log_data" placeholder="repeat password" name="passRepeat">
            <button class="input_reg_log_submit">register</button>
        </form>
    </div>
</div>
</body>
</html>