<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New_event</title>
</head>
<body>
  <wrapper th:fragment="new_event_layout(new_event, cities, activities)">
    <form method="post" th:action="@{/event/save}" th:object="${new_event}">
      <table>
        <tr>
          <td>Activity:</td>
          <td>
            <select th:field="*{activity}">
<!--              <option>Choose activity</option>-->
              <th:block th:each="activity: ${activities}">
                <option th:value="${activity.id}">[[${activity.name}]]</option>
              </th:block>
            </select>
          </td>
        </tr>
        <tr>
          <td>City:</td>
          <td>
            <select th:field="*{city}">
<!--              <option>Choose city</option>-->
              <th:block th:each="location: ${cities}">
                <option th:value="${location.id}">[[${location.name}]]</option>
              </th:block>
            </select>
          </td>
        </tr>
        <tr>
          <td>Address: </td>
          <td><input type="text" th:field="*{address}" minlength="10"></td>
        </tr>
        <tr>
          <td>Date/time:</td>
          <td><input type="datetime-local" th:field="*{dateTime}"></td>
        </tr>
        <tr hidden>
          <td></td>
          <td> <input th:field="*{initiator}"></td>
        </tr>
        <tr>
          <td>Needed: </td>
          <td><input type="number" th:field="*{needed}" min="1" max="1000"></td>
        </tr>
        <tr>
          <td>Will come: </td>
          <td><input type="number" th:field="*{willCome}" min="1"></td>
        </tr>
      </table>
      <div class="button_div">
        <button>
          register  
        </button>
        <a href="/">Cancel</a>
      </div>
    </form>
  </wrapper>
</body>
</html>
