@import "../null.css";
header :nth-child(6), header :nth-child(2), header button {
  height: 59.5px;
  margin: 0 auto;
  border-radius: 9px;
  background-color: aliceblue;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

header {
  top: 0;
  left: 5%;
  height: 85px;
  width: 90%;
  position: fixed;
  z-index: 10;
  background-color: #b1d8e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 12.75px;
  border-radius: 15px;
}
header :nth-child(1) {
  width: 15%;
}
header :nth-child(2) {
  width: 17%;
}
header :nth-child(3) {
  width: 9%;
}
header :nth-child(4) {
  width: 9%;
}
header :nth-child(5) {
  width: 9%;
}
header :nth-child(6) {
  width: 9%;
  border-radius: 9px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}