<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>[[${profile.customer.login}]]</h1>
<!--    Форма просмотра профиля, если на страницу зашёл не пользователь-->
        <div style="display: flex; flex-direction: column" th:if="${!isYourProfile}" th:object="${profile}">
            <label for="profile-name-dis">Name</label>
            <input id="profile-name-dis" th:type="text" th:field="*{name}" disabled />
            <label for="profile-phone-dis">Phone</label>
            <input id="profile-phone-dis" th:type="text" th:field="*{phone}" disabled />
            <label for="profile-age-dis">Age</label>
            <input id="profile-age-dis" th:type="number" th:field="*{age}" disabled/>
            <label for="profile-events_organized-dis">Events organized</label>
            <input id="profile-events_organized-dis" th:type="number" th:field="*{events_organized}" disabled/>
        </div>

<!--    Форма редактирования профиля-->
    <form th:if="${isYourProfile}" method="post" th:action="@{/customer/profile}" th:object="${profile}">
        <input th:field=" *{id}" hidden/>
        <label for="profile-name">Name</label>
        <input id="profile-name" th:type="text" th:field="*{name}" required min="1" max="20"/>
        <label for="profile-phone">Phone</label>
        <input id="profile-phone" th:type="text" th:field="*{phone}" required min="0" max="12"/>
        <label for="profile-age">Age</label>
        <input id="profile-age" th:type="number" th:field="*{age}" required min="0" max="100"/>
        <label for="profile-events_organized">Events organized</label>
        <input id="profile-events_organized" th:type="number" th:field="*{events_organized}" disabled/>
        <label for="profile-strikes_amount">Strike</label>
        <input id="profile-strikes_amount" th:type="number" th:field="*{name}" disabled required min="0" max="3"/>
        <button>Add</button>
    </form>
        <a th:href="@{/}">Cancel</a>
</body>
</html>