<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>[[${profile.customer.login}]]</h1>
<!--    Форма просмотра профиля, если на страницу зашёл не ее хозяин-->
        <div style="display: flex; flex-direction: column" th:if="${!isOwner}" th:object="${profile}">
            <label for="profile-name-dis">Name</label>
            <input id="profile-name-dis" th:type="text" th:field="*{name}" disabled />
            <label for="profile-phone-dis">Phone</label>
            <input id="profile-phone-dis" th:type="text" th:field="*{phone}" disabled />
            <label for="profile-age-dis">Age</label>
            <input id="profile-age-dis" th:type="number" th:field="*{age}" disabled/>
            <label for="profile-events_organized-dis">Events organized</label>
            <input id="profile-events_organized-dis" th:type="number" th:field="*{events_organized}" disabled/>
        </div>

<!--    Форма редактирования профиля-->
    <form th:if="${isOwner}" method="post" th:action="@{/profile/update}" th:object="${profile}">
        <input id="profileId" th:field=" *{id}" hidden/>
        <input th:field="*{customer.id}" hidden>
        <label for="profile-name">Name</label>
        <input id="profile-name" th:type="text" th:field="*{name}"/>
        <label for="profile-phone">Phone</label>
        <input id="profile-phone" th:type="text" th:field="*{phone}"/>
        <label for="profile-age">Age</label>
        <input id="profile-age" th:type="number" th:field="*{age}" />
        <label for="profile-city">City</label>
        <select id="profile-city" th:field="*{city}">
            <th:block th:each="location: ${cities}">
                <option th:value="${location.id}">[[${location.name}]]</option>
            </th:block>
        </select>

        <label for="profile_activities">Your sports</label>
        <select id="profile_activities" name="tag">
            <option th:each="sport: ${tags}">[[${sport.name}]]</option>
        </select>

        <label for="profile-events_organized">Events organized</label>
        <input id="profile-events_organized" th:type="number" th:field="*{events_organized}" disabled/>
        <label for="profile-strikes_amount">Strikes</label>
        <input id="profile-strikes_amount" th:type="number" th:field="*{strikes_amount}" disabled required min="0" max="3"/>
        <button>Add</button>
    </form>
        <a th:href="@{/}">Cancel</a>

    <a th:href="@{/logout}">Log out</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script>
        $("#profile_activities").on('change', () => {
            $.ajax({
                url: "/profile/update/activity",
                method: "GET",
                dataType: "html",
                data: {
                    profileId: $("#profileId").val(),
                    tag: $("#profile_activities").val()},
                success: function(data) {alert(data)}
            })
        })
    </script>
</body>
</html>


