<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <wrapper th:fragment="error_layout(error)">
        <h1>Something went wrong!</h1>
        <h2 th:if="${(error % 100) < 5}">
            Bad request (permission/parameters/page not found)
        </h2>
        <h2 th:if="${(error % 100) > 4}">
            Developers were tired... bad code happens too... sorry)
        </h2>
        <a href="/">Go Home</a>
    </wrapper>
</body>
</html>