/*Стили форм регистрации и авторизации*/

.modal_log_reg {
    z-index: 100;
    margin: auto;
    padding: 25px 20px 40px;
    width: 30%;
    min-width: 300px;
    height: fit-content;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form_login {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_reg_log_data {
    width: 80%;
    height: 38px;
    margin-top: 20px;
    border-radius: 7px;
    border-color: #b2a0a0;
    border-style: solid;
    border-width: 1px;
}

.a_registration_link {
    width: 80%;
    text-align: right;
}

.input_reg_log_submit {
    margin-top: 25px;
    width: 80% ;
    height: 38px;
    background-color: #DF5F5FFF;
    border-style: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
}