.container {
    width: 70%;
    height: 700px;
    margin: 0 auto 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../images/Friends2Test.jpg");
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.modal_profile {
    z-index: 100;
    margin: auto;
    padding-bottom: 20px;
    width: 600px;
    height: fit-content;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_user_data {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div_column {
    width: 40%;
    height: 366px;
    margin: 15px auto auto;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_column_user_data {
    width: 40%;
    height: 366px;
    margin: 15px auto auto;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
}

.user_picture {
    width: 75%;
    height: 150px;
    background-color: #ee98a2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input_user_data {
    height: 26px;
    width: 110px;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label_user_data {
    padding-top: 9px;
    padding-bottom: 9px;
}

.button_submit_profile_changes {
    width: 50% ;
    height: 38px;
    margin-top: 10px;
    background-color: #DF5F5FFF;
    border-style: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
}

